# Supabase Configuration
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SERVICE_ROLE_KEY=

# App API Secrets
INTERNAL_API_SECRET=

# Resend Mail Configuration
RESEND_API_KEY=

# Dodo Payments
DODO_PAYMENTS_API_KEY=
DODO_WEBHOOK_SECRET=

# Google Vertex AI Credentials (JSON)
GOOGLE_CREDENTIALS_JSON=
